.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > img {
        width: 260px;
        height: 260px;
        margin-bottom: 11px;
    }
    & > p {
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: center;
        max-width: 271px;    
    }
}
.options {
    height: 85px;
    padding: 7px;
    border-radius: 10px;
    background: #f3f3f3;
    & > div {
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 2px;
    }
    & > div > div {
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    & > div:first-child > div {
        width: 130px;
    }
    & > div:last-child > div {
        width: 85px;
    }
}
.variant {
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.015em;
    text-align: center;
    opacity: 0.5;
    position: relative;
}

.variant_available {
    opacity: 1;
}

.variant_active {
    background-color: #fff;
    border-radius: 5px;
}
