.sort_options {
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.015em;
    display: inline-block;
    position: relative;
}
.active_option {
    margin-left: 5px;
    font-weight: 400;
    color: #FE5F1E;
    border-bottom: 1px dashed #FE5F1E;
    cursor: pointer;

}
.popup {
    width: 132px;
    height: 136px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 30px;
    right: 0;
    li {
        width: 100%;
        height: 100%;
        padding: 14px 0 0 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.015em;
        cursor: pointer;
        transition: color 0.3s ease, background-color 0.3s ease;
    }
    li:hover {
        background-color: rgba(254, 95, 30, 0.05);
        color: #fe5f1e;
        font-weight: 600;
    }
}
